@charset "UTF-8";

.kaisya-member {
    background-color: rgba(153, 151, 151, 0.336);
    font-size: 22px;
}

.zyuusyo span {
    background-color: rgba(184, 179, 179, 0.39);
    font-size: 22px;
    font-weight: bold;
}

.zyuusyo {
    font-size: 20px;
    font-weight: bold;
}